<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item">
    <a href="#posts" class="nav-link active" data-toggle="tab">
      posts<span class="badge badge-secondary"><%= @count_posts %></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#follows" class="nav-link" data-toggle="tab">
      follows<span class="badge badge-secondary"><%= @count_followings %></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#followers" class="nav-link" data-toggle="tab">
      followers<span class="badge badge-secondary follower-counts"><%= @count_followers %></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#likes" class="nav-link" data-toggle="tab">
     likes<span class="badge badge-secondary"><%= @count_like_posts %></span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="posts" class="tab-pane active">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <div id="follows" class="tab-pane">
    <%= render 'users', users: @followings %>
  </div>
  <div id="followers" class="tab-pane">
    <%= render 'users', users: @followers %>
  </div>
  <div id="likes" class="tab-pane">
    <%= render 'posts/posts', posts: @like_posts %>
  </div>
</div>